body {
  font-family: 'Noto Sans TC', sans-serif;
}

.profile {
  width: 200px;
}

.header {
  margin-top: 10px;
  text-align: center;
}

.name {
  font-size: 30px;
}

.social-links {
  padding: 0;
}

.social-links li {
  display: inline;
  margin: 0 5px;
}

.social-links li a {
  color: #000;
  font-size: 30px;
  text-decoration: none;
}

.maxim-link {
  color: #000;
}

.maxim-link:hover {
  background-color: #ccc;
}

.maxim-link:before {
  content: attr(data-en);
}

.maxim-link:hover:before{
  content: attr(data-zh);
}

.workexperience .title {
  font-size: 22px;
}

.workexperience li {
  line-height: 30px;
}

.degree {
  margin-top: 40px;
}

.skills {
  margin-top: 40px;
}

.box {
  height: 12rem;
  border: 1px solid #ccc;
}

.other {
  margin-top: 40px;
}

.other li{
  line-height: 30px;
}

.autobiography{
    margin-top: 40px;
  line-height: 30px;
}

.paragraph{
  margin-top: 20px;
}
